<div id="link-opportunity-modal" class="modal">
    <div class="modal-content" style="max-width: 900px;">
        <div class="modal-header">
            <h2 class="modal-title" id="link-opportunity-modal-title">關聯至母機會</h2>
            <button class="close-btn" onclick="closeModal('link-opportunity-modal')">&times;</button>
        </div>
        <div class="form-group">
            <label class="form-label">搜尋機會案件</label>
            <input type="text" class="form-input" id="search-opportunity-to-link-input" placeholder="輸入機會名稱或公司進行搜尋...">
        </div>
        <div id="opportunity-to-link-results" class="search-result-list">
            </div>
    </div>
</div>